.search-custom{
    margin: 20px auto;
    text-align: center;
    width: 90%;

}

.title-custom{
    text-align: center;
    margin: 20px auto;
}

.heart-custom{
    text-align: center;
    margin: 20px auto;
}
